{% extends 'base.html' %}
{% block head %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();

console.log('check 1', socket.connected);
socket.on('connect', function() {
  console.log('check 2', socket.connected);
});
  socket.on('connect', function () {
      socket.emit('join_room', {
          username: "{{ current_user.get_id() }}",
          room: "{{ room.get_id() }}"
      });

      let message_input = document.getElementById('message_input');

      console.log("Joined room fr fr")

      document.getElementById('message_input_form').onsubmit = function (e) {
          e.preventDefault();
          let message = message_input.value.trim();
          if (message.length) {
              socket.emit('send_message', {
                  username: "{{ current_user.get_id() }}",
                  room: "{{ room.get_id() }}",
                  message: message
              })
          }
          message_input.value = '';
          message_input.focus();
      }
  });

  window.onbeforeunload = function () {
      socket.emit('leave_room', {
          username: "{{ username }}",
          room: "{{ room }}"
      })
  };

  socket.on('receive_message', function (data) {
      console.log(data);
      const newNode = document.createElement('div');
      newNode.innerHTML = ` <div class="card ">
                            <div id="messages">
                            <div class="card-content ">
                              <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 " id="title">${data.username}</p>
                                    <p class="subtitle is-5 " id ="subtitle">${data.message}</p>
                                </div>
                              </div>
                            </div>`;
      document.getElementById('messages').appendChild(newNode);
  });

  socket.on('join_room_announcement', function (data) {
      console.log(data);
      if (data.username !== "{{ username }}") {
          const newNode = document.createElement('div');
          newNode.innerHTML = `<div class="card-content">
                            <nav class="level">
                              <p class="level-item has-text-centered">
                                <a class="level-item is-info">${data.username} just joined</a>
                              </p>
                              
                            </nav>
                          </div>`;
          console.log(newNode.innerHTML)
          document.getElementById('messages').appendChild(newNode);
                        }
      
  });

  socket.on('leave_room_announcement', function (data) {
      console.log(data);
      const newNode = document.createElement('div');
      newNode.innerHTML = `<b>${data.username}</b> has left the room`;
      document.getElementById('messages').appendChild(newNode);
  });
</script>
{% endblock head %}
{% block content%}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        ROOMS
      </p>
    </div>
  </div>
  </div>

</section>

<section class="section">
  <h1 class="title">{{room.get_name()}}</h1>
  <h2 class="subtitle">
    {{room.get_description()}}
  </h2>
  <div id ="invite"></div>

  {% if current_user.get_id() in room.get_admin() %}
  <!-------------------- TODO SORT THIS B------------------->

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <button class="button">Settings</button>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <a href={{url_for("rooms.invite", id= room.get_id())}}>
      <button class="button">Get invite link</button>
    </a>
    </div>
  </div>

</nav>
  {% endif %}

</section>

<section class="section">

  <!--BODY FOR MESSAGE--->
 
  <div class="card ">
    <div id="messages">
    <div class="card-content ">
  </div>
  </div>

  <!---Messages id ends here-->
  <form id="message_input_form">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input type="text" class="input"  id="message_input"  placeholder="Type your message">
      </div>
      <div class="control">
        <button class="button is-info">Send</button>
      </div>
    </div>
  </form>
</section>

{% endblock%}